* {
	font-family: 'Robobto', sans-serif;
	color: white;
	font-size: 15px;
	padding:0;
	margin:0px;
}

body {
	background-color: #333333;
	background-attachment: scroll;
	background-size: 100%;
	background-position: center;
	background-image: url(img/pic1.png);
}

p {
	text-align: justify;
	margin: 10px;
}

a {
	text-decoration: none;
}

hr {
	border: 0.5px solid #444;
	display: block;
}

header {
	padding: 30px;
	background-color: black;
	border-bottom: 1px solid #1c1c1c;
	text-align: center;
}

footer {
	border-top: 1px solid #1c1c1c;
	text-align: center;
	padding: 40px 0px;
	margin: 70px 0px 0px 0px;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #1c1c1c;
}

footer p {
	text-align: center;
	color: #333;
}

.nav .navlist {
	list-style: none;
}

.nav .navlist>li {
	display: inline-block;
	vertical-align: top;
	padding: 0px 60px;
}

.nav a {
	color: #e15554;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px;
}

.nav .navlist .sublist {
	display: none;
	background-color: #0f0f0f;
	border-radius: 5px;
	border: 1px solid #191919;
	position: absolute;
	max-width: 140px;
	z-index: 100;
}


.nav .navlist li:hover .sublist {
	display: block;

}

.nav .navlist li:hover .sublist li {
	display: inline;
}

.nav .navlist li .sublist li a:hover {
	color: #f7b267;
}

.dropbtn {
	border: 1px solid #191919;
}

h1,
h2,
h3 {
	font-family: 'Raleway', sans-serif;
	color: #e15554;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h1 {
	font-size: 80px;
	padding: 40px 0px 0px 0px;
}

h2 {
	font-size: 25px;
	letter-spacing: 3px;
	padding: 0px 0px 60px;
}

h3 {
	color: #e15554;
	font-size: 40px;
	padding: 10px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
}

.landing {
	text-align: center;
	padding: 0px 0px 70px;
	background: linear-gradient(black, rgba(0, 0, 0, 0) 100%);
	border-bottom: 1px solid #1c1c1c;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.landing > p {
	text-align: center;
}

i {
	font-size: 100px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	transform-origin: center;
	margin:0px 40px;
}

@keyframes iconflip {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
		transform: rotateZ(360deg);
	}
}

i:hover {
	animation: iconflip 1.5s infinite;
	color: #f7b267;
}
#mapcon:hover{
	animation:none;
	color:white;
}
section {
	display: block;
	padding: 10px;
}

.svg {
	height: auto;
	width: 225px;
	float: left;
	padding: 40px;
	display: block;
}

.info {
	text-align: center;
}

#middle {
	display: block;
	float: right;
}
.contactcons {
	margin:60px;
}
.infocon {
	width: auto;
	padding: 0px 300px;
	margin: 50px 100px 100px;
	background: radial-gradient(black);
}
/* MAP */

.mapbox{
	text-align: center;
	margin:50 300px;
}
.mapbox p{
	width:190px;
	height:130px;
	text-align:center;
	padding: 40px;
	margin: 0 auto;
}
.mapbox #inquiry h3{
	color:white;
}
#mapstyle{
	box-shadow: -8px 7px 15px 0 rgba(0, 0, 0, 0.4);
	border: 1px solid #e15554;
}

.button {
	color: #e15554;
	border: 4px solid #e15554;
	border-radius: 20px;
	padding: 10px;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 3px;
	transition-duration: 0.8s
}
.btncon {
	margin:30px;
}
.button:hover {
	color: white;
	border-color: white;
	box-shadow: 0px 0px 12px 5px #e15554;
}

.info > p {
	padding: 0px 0px 20px;
}
.landing > a,
.landing > p{
	padding:20px;
}
.landing > a:hover {
	color: #f7b267;
}

.landing > p {
	text-shadow: -4px 4px 3px rgba(0, 0, 0, .60);
}

/*Form */

#inquiry{
	background-color:rgba(0,0,0,.45);
	padding: 20px 80px;
	border-radius:10px;
	margin:40px 0px;
}
input,
textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
	color:#757575;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
textarea{
	height:300px;
}
input[type=submit],
input[type=reset],
input[type=button]{
	width:20%;
	padding:12px 20px;
}
textarea:focus,
input:focus {
    border: 3px solid #e15554;
	outline:none;
    transition: 0.4s;
}